.main-container {
  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  // background-color: #133049;
};

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
};

section {
  height: auto;
  margin: 0;

  h2 {
    color: rgb(14, 12, 12);
    margin: 30px;
  }

  hr {
    border-top: 1px solid #49bdbd;
    width: 20%;
    margin-bottom: 30px;
  }
};


.contact {
  margin: 0;
  padding: 80px 40px 80px;
  background-color: rgb(16, 22, 24);
  text-align: center;

  h2 {
    color: rgb(245, 239, 239);
    margin: 30px 0 20px;
  };

  h4 {
    margin-left: auto;
    margin-right: auto;
    color: rgb(192, 181, 181);
  };
};

.contact-icons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px 10px 10px 5px;

  .fa-icon-container {
    padding: 10px;

    .fa-icon {
      color:rgb(255, 255, 255);
      background-color:rgb(14, 12, 12);
      width: auto;
      height: 50px;
      border: none;
      cursor: pointer;
      transition: all 0.3s ease;
    
      &:hover {
        color: #e63872;
        background-color: rgb(5, 5, 5);
      }


    }
  }
}


.main {
  display: flex;
  padding: 16px;
  padding-top: 0;
}

.footer {
  justify-content: end;
};


/* Small devices: 576px and up  */
@media (min-width: 576px) {}

/* Medium devices: tablets, 768px and up */
@media (min-width: 768px) {}

/* Large devices: desktops, 992px and up */
@media (min-width: 992px) {}

/* Extra large devices: large desktops, 1200px and up */
@media (min-width: 1200px) {}
