.home-title-container {
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  width: auto;
  z-index: 1;
  background-color: transparent;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  
  .title {
    text-align: center;
    color: whitesmoke;
    font-family: 'Raleway';
    font-weight: 300; 
    font-size: 22px;
    line-height: 40px; 
    text-shadow: 0 0 1.5px whitesmoke;
    margin-bottom: 100px;
    pointer-events: none;
    -webkit-font-smoothing: antialiased;
    
    .title-layout-mobile {
      white-space:nowrap;
    }
  
    .highlight {
      color: #1DD9CD;
      text-shadow: 0 0 1.5px whitesmoke;
      -webkit-font-smoothing: antialiased;
    }
  };

  // 1DD9CD

  custom-button {
    align-items: center;
    width: 200px;
  }
};

/* Small devices: 576px and up  */
@media (min-width: 576px) {
  .home-title-container {
    .title {
      font-size: 38px;
      line-height: 58px; 
    }
}
}

/* Medium devices: tablets, 768px and up */
@media (min-width: 768px) {}

/* Large devices: desktops, 992px and up */
@media (min-width: 992px) {
}

/* Extra large devices: large desktops, 1200px and up */
@media (min-width: 1200px) {}