.form-container {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;

  .row {
    display: flex;
    justify-content: center;

    h2 {
      color: whitesmoke;
    }
  };

  .input-container {
    max-width: 100%;
    margin: auto;
    margin: 20px auto 25px auto;
    display: grid;
    

    input {
      box-sizing: border-box;
    }
  };

  .buttons {
      display: flex;
      justify-content: space-between;
  }
}

// @media (min-width: 1200px)
// .contact-form {
//     max-width: 1140px;
// };

// @media (min-width: 992px)
// .contact-form {
//     max-width: 960px;
// };

// @media (min-width: 768px)
// .contact-form {
//     max-width: 720px;
// };

// @media (min-width: 576px)
// .contact-form {
//     max-width: 540px;
// };
