.contact-form {
  width: 60%;
  display: block;

  h2 {
    color: whitesmoke;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
  }

  .title {
      margin: 10px 0;
  }

  .buttons {
      display: flex;
      justify-content: space-between;
  }
}

// @media (min-width: 1200px)
// .contact-form {
//     max-width: 1140px;
// };

// @media (min-width: 992px)
// .contact-form {
//     max-width: 960px;
// };

// @media (min-width: 768px)
// .contact-form {
//     max-width: 720px;
// };

// @media (min-width: 576px)
// .contact-form {
//     max-width: 540px;
// };
