.form-container {
  margin-top: 30px;
  width: 70%;
  max-width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;

  .input-container-row {
    display: flex;
    justify-content: center;    
    padding-left: 0;
    padding-right: 0;

    h2 {
      color: whitesmoke;
    }
  };

  .form-group-custom {
    margin: 25px 0 25px;

    .input-custom {
      box-sizing: border-box;
    }

    button {
      display: block;
      margin: 0 auto;
    }
  }

};

@media (max-width: 430px) {
  .form-container {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  
    .input-container-row {
      display: block;
    }
  }
}
;
